<style> @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap'); </style>

<div class="welcome-container">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-card-header">
      <mat-card-title>Welcome to FavMovie</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="welcome-card-actions">
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        <mat-icon class="btn-icon">login</mat-icon>
        <span>Login</span>
      </button>

      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        color="primary"
      >
        <mat-icon class="btn-icon">how_to_reg</mat-icon>
        <span>Sign up</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
