$secondary: #6f0000;
$cardBg: $secondary;
$textColor: #e9e9e9;
$closeBtnColor: #cc5050;

$titleFontWeight: 600;

.genre-dialog {
  background-color: $cardBg;
  padding: 3%;
  max-width: 400px;
}

.genre-dialog-header {
  justify-content: space-between;
}

.genre-dialog-title {
  color: $textColor;
  font-weight: $titleFontWeight;
}

.genre-dialog-content {
  color: $textColor;
}

.btn-dialog-close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0px;
  color:$textColor;
}

.btn-dialog-close:hover {
  color:$closeBtnColor;
}