$cardBg: #212529;
$textColor: #e7e7e7;
$closeBtnColor: #cc5050;

$titleFontWeight: 700;
$titleFontSize: 20px;

.director-dialog {
  background-color: $cardBg;
  padding: 15px;
  //border: solid 2px #6c757d;
  box-shadow: 0 0 50px #6c757d !important;
  width: 500px;
}

.director-dialog-header {
  justify-content: space-between;
}

.director-dialog-title {
  color: $textColor;
  font-weight: $titleFontWeight;
  font-size: $titleFontSize;
}

.director-dialog-content {
  color: $textColor;
}

.btn-dialog-close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0px;
  color:$textColor;
}

.btn-dialog-close:hover {
  color:$closeBtnColor;
}