$textSizeLarg: 18px;
$textSizeSmall: 14px;
$primary: #b20000;
$textColor: white;

.navbar {
  position:fixed;
  top:0;
  z-index: 999;
  overflow: hidden;
  width: 100%;
  display: flex;
  background-color: $primary;
  color: $textColor;
}

a {
  text-decoration: none;
  color: $textColor;
}

a:hover {
  filter:drop-shadow(0 0 8px white);
}


.nav-logo {
  flex: 1 1 auto;
  font-family: 'Monoton', cursive;
  filter:drop-shadow(0 0 5px white);
}

.nav-logout {
  padding-left: 3%;
}

.logout-button > mat-icon {
  margin-right: 2px;
}

@media all and (max-width: 300px) {
  .navbar {
    height: 45px;
  }

  .nav-logo {
    font-size:18px;
  }

  .nav-profile, .nav-logout {
    font-size: 12px;
  }

  .nav-profile {
    margin-top: 0.5px;
  }
}

@media all and (min-width: 300px) and (max-width: 500px) {
  .navbar {
    height: 50px;
  }

  .nav-logo {
    font-size:24px;
  }

  .nav-profile, .nav-logout {
    font-size: 14px;
  }

  .nav-logout__text {
    margin-bottom: 1px;
  }

  .logout-button > mat-icon {
    margin-top: 2px;
  }
}

@media all and (min-width: 500px) and (max-width: 1000px) {
  .navbar {
    height: 60px;
  }

  .nav-logo {
    font-size:28px;
  }

  .nav-profile, .nav-logout {
    font-size: 18px;
  }

  .nav-profile {
    margin-top: 1px;
  }

  .nav-logout__text {
    margin-top: 1px;
  }

  .logout-button > mat-icon {
    margin-top: 1px;
  }
}

@media all and (min-width: 1000px) {
  .navbar {
    height: 70px;
  }

  .nav-logo {
    font-size:30px;
  }

  .nav-profile, .nav-logout {
    font-size: 18px;
  }

  .nav-profile {
    margin-top: 2px;
  }
}