$primary: #b20000;
$textColor: #414141;

.container {
  display: flex;
}
.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin:10px;
  box-shadow: 0 0 20px grey;
}

.img-wrapper {
  width:100%;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.movie-img {
  height: 450px;
}

.movie-title {
  align-self: start;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-style: oblique;
  justify-self: flex-start;
  padding-left: 11%;
  padding-right: 11%;
  font-weight: 500;
  color: $textColor;
}


.movie-actions button {
  font-size: 14px;
  color: $primary;
}

@media all and (max-width: 300px) {
  .movie-list {
    margin-top: 50px;
  }

  .movie-card {
    max-width: 250px;
  }

  .movie-img {
    height: 380px;
  }
}

@media all and (min-width: 300px) and (max-width: 500px) {
  .movie-list {
    margin-top: 60px;
  }

  .movie-card {
    max-width: 300px;
  }
}

@media all and (min-width: 500px) and (max-width: 1000px) {
  .movie-list {
    margin-top: 70px;
  }

  .movie-card {
    max-width: 300px;
  }
}

@media all and (min-width: 1000px) {
  .movie-list {
    margin-top: 75px;
  }

  .movie-card {
    max-width: 300px;
  }
}