<app-navbar></app-navbar>
<div class="movie-list">
  <mat-card class="movie-card" *ngFor="let movie of movies; let i=index;">
    <div class="img-wrapper">
    <img class="movie-img" src={{movie.imageURL}} alt= {{movie.Title}}>
  </div>
    <mat-card-header class="movie-title">
      <mat-card-title>{{movie.Title}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="movie-actions">
      <button
        mat-button
        (click)="openSynopsisDialog(movie.Title, movie.Description)"
      >
        Synopsis
      </button>

      <button
        mat-button
        color="primary"
        (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
      >
        Genre
      </button>

      <button
        mat-button
        color="primary"
        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
      >
        Director
      </button>

      <button
        mat-icon-button
        aria-label="Example icon button with a heart icon"
        (click)="onToggleFavMovie(movie._id)"
      >
        <mat-icon class="favIcon">{{favoriteMovies.includes(movie._id) ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
    </mat-card-actions>
  
  </mat-card>
</div>