$primary: #b20000;
$secondary: #6f0000;
$textColor: #414141;
$btnColor: #252525;

.profile-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1200px;
  margin: 3% auto;
  justify-self: stretch;
}

mat-card {
  max-width: 600px;
  margin: 30px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px grey;
  justify-content: space-between;
  color:$textColor;
}

.update-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

mat-card-header {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: $primary;
  margin-bottom: 36px;
}

.card-actions {
  display: flex;
  justify-content:center;
  margin-top: 24px;
}

.mat-mdc-raised-button.mat-primary{
  background-color: $btnColor;
  color: white;
}

.mat-mdc-raised-button.mat-warn{
  background-color: $primary;
  color: white;
}

mat-label {
  color: $textColor;
}
